.calc{
  position:absolute;
  background-color:white ;
  width:400px;
  height:350px;
  
}
#disp{
  display:block;
  height:52px;
  background-color:white;
  margin:8px;
  border-color: black;
}
.calc button{
  height:54px;
  width:71px;
  background-color:#dfe1e5;
  margin : 0px;
  border-radius:4px;
}
#disp{
  font-size:45px;
  text-align:right;
  overflow:auto;
}

#dec{
  background-color:#4285f4
}

#ans{
  background-color:#fc9003
}
